<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhiteRabbitTimer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53A06F6F2E66B005006B20DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53A06F802E66B008006B20DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53A06F8A2E66B008006B20DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
